<div class="main-container">
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">Juan David Jaramillo</h5>
            <p class="card-text">Software engineer specially focused on web technologies, technology enthusiast, and International Business Professional. Looking to join a company where I will be challenged to greatly impact  the real world with software, while learning and growing as a professional in the process.</p>
            <a href="https://github.com/djaramilloj" target="_blank" class="btn btn-primary">Go to my Github</a>
            <a href="https://twitter.com/juandajrm" target="_blank" class="btn btn-secondary">Go to my Twitter</a>
        </div>
    </div>
</div>
