@font-face {
    font-family: sofia-pro;
    src: url('./Sofia/Sofia\ Pro\ Regular\ Az.otf');
    src: url('./Sofia/Sofia\ Pro\ Regular.ttf') format('truetype'); /* Safari, Android, iOS */  
    font-style: normal; 
}

@font-face {
    font-family: sofia-pro;
    src: url('./Sofia/Sofia\ Pro\ Medium\ Az.otf');
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: sofia-pro;
    src: url('./Sofia/Sofia\ Pro\ Bold\ Az.otf');
    font-style: normal; 
    font-weight: bold;
}

@font-face {
    font-family: sofia-pro;
    src: url('./Sofia/Sofia\ Pro\ Light\ Az.otf');
    font-style: normal; 
    font-weight: lighter;
}

@font-face {
    font-family: sofia-pro;
    src: url('./Sofia/Sofia\ Pro\ Black\ Az.otf');
    font-style: normal;
    font-weight: 800;
}